/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;  /* Adjusted to a light gray for contrast */
    color: #333;
}

/* Improved spacing for main content */
/* Improved spacing for main content */
.main-content {
    padding: 20px 40px;  /* Add padding for inner spacing */
}

.main-content div {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0; 
    background-color: #f9f9f9; 
}

.main-content h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 22px; /* larger font size for titles */
}

.main-content p, .main-content ul {
    margin-bottom: 15px; /* more space after paragraphs and lists */
}

.main-content ul {
    margin-left: 30px;  /* Indentation for the list */
}

.main-content li {
    margin-bottom: 10px;  /* Spacing between list items */
}


.container {
    margin-left: 280px;  /* Width of the navbar */
    margin-top: 70px;
    padding: 40px;
    transition: margin-left 0.3s;  /* Smooth transition */
    background-color: #ffffff;  /* Main content area background color */
}



/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 230px; /* starting after the navbar */
    width: calc(100% - 230px); /* Taking the full width minus the navbar width */
    height: 60px;
    background-color: #222; /* Dark color */
    color: #ddd; /* Light gray text color */
    line-height: 60px;
    padding: 0 20px; /* Some spacing for the text and button */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    display: flex; /* To align items */
    justify-content: space-between; /* Space between title and button */
    transition: all 0.3s; /* Smooth transition */
}

.full-width-header {
    left: 0;
    width: 100%;
}



/* Button Styles */
.toggle-btn {
    background-color: #444; /* Slightly different shade for contrast */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Slight rounding of corners */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.toggle-btn:hover {
    background-color: #555;
}



/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: #222;  /* Dark color for navbar */
    overflow-y: auto;
    border-right: 1px solid #333;
    transition: all 0.3s;  /* Smooth transition */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}

.navbar a {
    display: block;
    color: #ddd;  /* Light gray text color */
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a i {
    margin-right: 5px; 
    vertical-align: middle; 
}

.navbar a:hover, .navbar a.active {
    background-color: #333;  /* Slightly lighter color for hover/active state */
    color: #fff;  /* White text for hover/active state */
}

.navbar a:hover i {
    color: #fff; 
}

/* Arrows for navigation */
.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.arrow.left {
    left: 240px;
}

.arrow.right {
    right: 20px;
}

.full-width {
    margin-left: 0;
}

/* Dropdown Styles */

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Light background for dropdown */
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333; /* Darker text color for dropdown links */
    padding: 8px 12px; /* Slightly smaller padding */
    font-size: 14px; /* Smaller font size */
    text-decoration: none;
    display: block;
    background-color: #f0f0f0; /* Lighter background for dropdown items */
}

.dropdown-content a:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-toggle {
    color: #bbb; /* Lighter color for dropdown toggle */
    font-size: 16px; /* Keeping the font size same as other links */
}

.dropdown-toggle:after {
    content: ' ▼';
    font-size: 12px; /* Smaller arrow */
}


.anchor {
    display: block;
    position: relative;
    top: -70px; /* Height of your fixed header */
    visibility: hidden;
}

#lectureSelect {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.lecture-slide {
    display: none;
}

.lecture-slide.active {
    display: block;
}

/* Table Styles */
table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Removes the space between borders */
    margin-bottom: 20px; /* Spacing after the table */
}

th, td {
    border: 1px solid #ddd; /* Light grey border */
    text-align: left; /* Align text to the left */
    padding: 8px; /* Padding inside cells */
}

th {
    background-color: #f4f4f4; /* Light grey background for headers */
    color: #333; /* Dark text for contrast */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for rows */
}

/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto; /* Allows table to scroll horizontally on small screens */
    }
}
